.inputLike {
    min-height: 40px !important;
    padding: 0.15rem !important;
    border-radius: 10px !important;
    /*border: 1px solid rgb(216,216,223) !important;*/
}

.formCadastro {
    width: 450px;
}

@media (max-width: 500px) {
    .formCadastro {
        width: 250px !important;
    }
}